.about{
  line-height:1.5;
  float:right;
  padding-right:50px;}
.title{
  background-color:#05ffb0;;
  border:2px solid #05ffb0;
  border-radius:5px;}
.color{
   background-color: pink;
   border-radius:5px;}
.main{
   border:2px solid #FFE4E1;
   border-radius:5px;
   background-color:#FFE4E1;}
